@{
    ViewData["Title"] = "Home Page";
}

<!-- Add simple styling? -->

<div class="welcome text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use this app to keep track of all your daily tasks!</p>
    <a class="" asp-area="" asp-controller="Tasks" asp-action="Index">Let's get started!</a>
</div>
