@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p>Use this app to keep track of all your daily tasks!</p>
    @*<a class="" asp-area="" asp-controller="Tasks" asp-action="Index">Let's get started!</a>*@
</div>
<!-- Task Cards -->
<div class="container">
    <h3>Tasks</h3>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Task</h4>
            <p class="card-text">Do some tasky things.</p>
        </div>
    </div>
</div>
