@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p>Use this app to keep track of all your daily tasks!</p>
    <button type="button" class="btn btn-primary btn-sm">Add Task</button>
</div>
<!-- Task Cards -->
<div class="container" id="taskcards">
    <h3>Tasks</h3>
        <div class="card task">
            <div class="card-body">
                <h5 class="card-title title">Task</h5>

                <p class="card-text createdate">Created: </p>

                <p class="card-text duedate">Due: </p>

                <p class="card-text description">Do some tasky things.</p>

                <label class="checkbox"><input type="checkbox" value="" disabled> Completed</label>

                <div class="actionbuttons">
                    <button class="btn-default btn-sm">Details</button>
                    <button class="btn-default btn-sm">Edit</button> |
                    <button class="btn-danger btn-sm">Delete</button>
                    <button class="btn-success btn-sm">Complete</button>
                </div>
            </div>
        </div>
</div>
